
.label {
    display: block;
    margin-bottom: 0.5rem;
}

.form-inline {
    display: flex;
    // align-items: center;
}

// .col {
//     margin: 0 10px;
// }

.smart-table {
    thead {
        border: 1px solid #999;
        border-radius: 25%;
    }
}

nb-actions nb-action {
    padding: 0 3px;
}

.student-icon {
    font-size: 3rem;
}

.date-picker {
    display: flex;
    justify-content: center;
    align-content: center;
    
    input {
        width: 100%;
    }
}

.save-button {
    color: 	#e9edf2;
    background: #4b4b4b;
}
.save-button:hover, .save-button:active {
    background: #2b2b2b;
}
.save-button:focus {
    background: #3b3b3b;
}