
<nb-card>
    <nb-card-header>Pesquisar Aluno</nb-card-header>
    <nb-card-body>

        <div class="form-inline">
            <div class="row">
                <div class="col col-auto">
                    <label class="label" for="student-id">ID</label>
                </div>
            </div>
            <div class="row">
                <div class="col margin-right">
                    <input nbInput
                        fullWidth
                        shape="little-round"
                        fieldSize="medium"
                        height="md"
                        id="student-id"
                        name="name"
                        type="search"
                        [(ngModel)]="searchString"
                        placeholder="Ex: 1000"
                    >
                </div>
                <div class="col col-auto">
                    <button nbButton
                        size="small"
                        height="md"
                        status="primary"
                        shape="little-round"
                        [disabled]="isSearching"
                        (click)="onSearch()"
                    >Search</button>
                </div>
            </div>
        </div>

    </nb-card-body>
</nb-card>

<nb-card *ngIf="student">
    <nb-card-header>Relatório</nb-card-header>
    <nb-card-body>
        <div class="row margin-bottom">
            <div class="col col-auto">
                <div class="student-icon">
                    <i class="icon ion-ios-person"></i>
                </div>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <span>
                            <b>ID:</b> {{ student.id }}
                        </span>
                    </div>
                    <div class="col">
                        <span>
                            <b>Matricula:</b> {{ student.matricula }}
                        </span>
                    </div>
                </div>
                <div class="row margin-top">
                    <div class="col">
                        <span>
                            <b>Aluno:</b> {{ student.first_name }} {{ student.last_name }}
                        </span>
                    </div>
                    <div class="col">
                        <span>
                            <b>Email:</b> {{ student.email }}
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="row margin-bottom margin-top">

            <div class="row">
                <h6>Selecionar as datas:</h6>
            </div>

            <div class="row justify-content-center">

                <div class="col col-auto">
                    <input nbInput
                        name="date_start"
                        placeholder="From"
                        [nbDatepicker]="fromform"
                        [(ngModel)]="fromForm">
                    <nb-datepicker #fromform></nb-datepicker>
                </div>
                <div class="col col-auto align-self-center">
                    <span>Até</span>
                </div>
                <div class="col col-auto">
                    <input nbInput
                        name="date_end"
                        placeholder="To"
                        [nbDatepicker]="toform"
                        [(ngModel)]="toForm">
                    <nb-datepicker #toform></nb-datepicker>
                </div>
            </div>
        </div>
        
        <br>

        <div class="row margin-top justify-content-between">
            <div class="col">
                <button nbButton
                    size="small"
                    height="md"
                    status="primary"
                    shape="little-round"
                    [disabled]="requestedReport"
                    (click)="onGenerate()"
                >Gerar Relatório</button>
            </div>
            <div class="col col-auto">
                <a *ngIf="pdfURL"
                    nbButton
                    title="Salvar"
                    alt="Salvar"
                    height="md"
                    shape="little-round"
                    class="save-button"
                    [disabled]="!pdf"
                    [href]="pdfURL"
                >
                    <span>
                        <b class="icon ion-ios-save"></b>
                        Baixar
                    </span>
                </a>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<!-- <nb-card>
    <nb-card-body>
        <div class="row">
            <div class="col">
                <table>
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Livro</th>
                            <th>Lesson</th>
                            <th>Nome da Mídia</th>
                            <th>Tipo da Mídia</th>
                            <th>Total de Acessos</th>
                            <th>Tempo total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01/01/2019</td>
                            <td>Livro 1</td>
                            <td>Lesson 01</td>
                            <td>Track 01</td>
                            <td>Áudio</td>
                            <td>2</td>
                            <td>00:06:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
</nb-card> -->