
.label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-inline {
  display: flex;
  flex: 1;
  // align-items: center;
}

.smart-table {
  thead {
    border: 1px solid #999;
    border-radius: 25%;
  }
}

nb-actions nb-action {
  padding: 0 3px;
}